export APPLE_SIGNING_CERTIFICATE=
export APPLE_WWDR_CERTIFICATE=
export APPLE_PRIVATE_KEY=
export APPLE_PRIVATE_KEY_PASSWORD=

export GOOGLE_PRIVATE_KEY=
export GOOGLE_CLIENT_EMAIL=
export GOOGLE_WALLET_ISSUER_ID=
export GOOGLE_WALLET_ISSUER_NAME=

export AWS_REGION=
export AWS_KEY=
export AWS_SECRET=
export AWS_BUCKET=

export SECRET=

export HOST=0.0.0.0
export PORT=1234